h4 {
    margin: 0;
}

$dark: #2f3234;
$yellow: #f8b43a;
$orange: #f9b43b;
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.main__block {
    min-height: 650px;
    background: url('../img/leaves_bg.jpg') center center no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    padding-top: 12px;
    &__main {
    min-height: 92px;    
    }
    &__main-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 946px;
        max-height: 71px;
        margin: 0 auto;
    }
}

.section {
    height: 100vh;
    min-height: 650px;
}

.header__nav {
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    &-list {
        color: #fff;
    }
    &-item {
        display: inline-block;
        margin-left: 15px;
        &:last-child {
            background-color:#e45028;
            border-radius: 6px;
            &:hover {
                background-color: darken(#e45028, 7%);
                cursor: pointer;
                transition: .2s ease;
            }
        }
        &:after {
            content: "•";
            color: #fff;
            padding-left: 21px;
        }
        &:nth-of-type(6):after {
            display: none;
        }
        &:last-child:after {
            display: none;
        }
        &:last-child {
            padding: 3px 15px;
        }
    }
    &-item-link {
        text-decoration: none;
        color: #fff;
        &:hover {
            color: darken(#fff, 20%);
            transition: .2s ease;
            text-decoration: underline;
        }
    }
}

.main__burger {
    height: 650px;
    display: flex;
    &-inner {
        display: flex;
        justify-content: center;
    }
    &-pic {
        
    }
    /* &-inner__center {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;  
    } */
}

.title-dark {
    color: $dark;
}

.title-white {
    color: #fff;
}

.title-yellow {
    color: $yellow;
}

.section-title {
    font-family: 'Gagalin', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 72px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 0;
}

.main__burger-text {
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 128px;
    &-2nd {
        color: #ffffff;
        font-family: 'Lifehack', sans-serif;
        font-size: 60px;
        font-weight: 700;
        text-transform: lowercase;
        display: flex;
        max-width: 383px;
    }
}

.arrow__down {
    margin-bottom: -127px;
    margin-left: -20px;
} 

.nav {
    &__list {
        position: fixed;
        top: 86px;
        list-style: none;
        right: 44px;
    }
    &__item {
        margin-bottom: 9px;
        &-link {
            background: url('../img/ellipse-2.png') center center no-repeat;
            width: 14px;
            height: 14px;
            display: block;
        }
        &--active {
            border: 1px solid #fff;
            border-radius: 50%;
        }
    }
}

.we_best__block {
    height: 650px;
    background: url('../img/bg_white.png') center center no-repeat;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}   



.we_best__block__heading {
    margin: 0 auto;
    text-align: center;
}

.features__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.features__item {
    display: flex;
    flex-direction: column;
    flex-basis: 28%;
    max-width: 300px;
    vertical-align: top;
    margin: 0 20px;
    &-heading {
        display: block;
        font-family: 'Lifehack', sans-serif;
        font-size: 24px;
        margin: 15px 0;
    }
    &-text {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #463030;
        font-family: 'Ubuntu';
        font-size: 15px;
        line-height: 26.2px;
        font-weight: 300;
        color: $dark;
    }
    &-pic {
        min-height: 130px;
        &_meat {
            background: url('../img/icons/best/best_meat.svg') center center no-repeat;
        }
        &_hand {
            background: url('../img/icons/best/best_hand.svg') center center no-repeat;
        }
        &_natural {
            background: url('../img/icons/best/best_natural.svg') center center no-repeat;
        }
        
    }
} 

.reviews {
    height: 650px;
    display: flex;
    &__list {
        padding: 0; 
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    &__item {
        position: relative;
        list-style: none;
        height: 50%;
        flex-basis: 25%;
        &__inner {
            width: 100%;
            height: 100%;
            &-pic {
                display: flex;
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: grayscale(100%);
            }
        }
    }
}

.reviews__content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.603);
    color: #fff;
    opacity: 0;
    padding: 1.2rem;
    line-height: 27px;
    font-size: 1rem;
    transition: .47s ease;
    &:hover {
        opacity: 1;
    }
    &-name {
        font-family: 'Gagalin', Verdana, Geneva, Tahoma, sans-serif;
    }
    &-text {
        font-family: 'Ubuntu', sans-serif;
    }
    &-btn {
        font-family: 'Ubuntu', sans-serif;
        font-size: 0.967rem;
        border: none;
        border-radius: 5px;
        padding: 8px 10px;
        text-transform: uppercase;
        color: #fff;
        background-color: #3a3939;
        cursor: pointer;
        font-weight: 500;
        transition: .3s;
        &:hover {
            background-color: #1f1e1e;
        }
    }
}


.team {
    background: url('../img/bg__team.jpg') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    position: relative;
    &__block {
        height: 100%;
        background-color: #2e2c2c;
        opacity: 0.9;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &__inner {
            display: flex;
            flex-direction: column;
        }
        &-heading {
            color: $yellow;
            text-transform: uppercase;
            font-family: 'Gagalin', Verdana, Geneva, Tahoma, sans-serif;
            font-size: 4.4rem;
            font-weight: 300;
            padding-left: 6rem;
            margin: 0;
        }
        &__list {
            list-style: none;
            color: #fff;
        }
        &__item {
            text-transform: uppercase;
            font-family: 'Gagalin', Verdana, Geneva, Tahoma, sans-serif;
            font-size: 1rem;
            font-weight: 300;
            margin-bottom: 1rem;
            
        }
    }
}

.team-container {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
}

.block__item-drop {
    display: flex;
    height: 0;
    overflow: hidden;
    margin-left: 22px;
    margin-top: 13px;
    &-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        flex-basis: 100%;
        max-width: 100px;
    }
    &-text {
        font-family: 'Ubuntu', sans-serif;
        text-transform: none;
        font-size: 0.9rem;
        max-width: 15rem;
        margin-left: 1rem;
        &__heading {
            margin: 0;
        }
        &__contain {
            margin-top: 10px;
        }
    }
}

.team__block__item--active {
    .block__item-btn {
        color: $yellow;
        &::before {
            transform: rotate(180deg);
        }
    }
    .block__item-drop {
        height: auto;
    }
}

.block__item-btn {
    cursor: pointer;
    border: none;
    background: transparent;
    color: #fff;
    display: flex;
    align-items: center;
    transition: .3s;
    &:hover {
        color: $yellow;
    }
    &::before {
        content: "";
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 7px solid $yellow;
        margin-right: 0.8rem;
    }
}


.menu {
    background: url('../img/bg__menu.jpg') center center no-repeat;
    background-size: cover;
}

.menu__block-heading {
    color: #fff;
    font-size: 4.4rem;
    text-transform: uppercase;
    font-family: 'Gagalin', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    margin: 0;
    padding-top: 4rem;
}

.container-menu {
    width: 100%;
}

.burgers-info {
    background-color: $orange;
    
}

.order {
    background: url('../img/bg__order.png') center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.order__heading__block {
    text-align: center;
}
.order__heading {
    margin: 0;
    color: $yellow;
    text-transform: uppercase;
    font-family: 'Gagalin', Verdana, GenevaTahoma, sans-serif;
    font-size: 4.4rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.order__form {
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    font-size: 0.9rem;
    &-input {
        border-radius: 5px;
        width: 10rem;
        margin-bottom: 0.8rem;
    }

}

.order__form-input__street {
    width: 22rem;
    border-radius: 5px;
    margin-bottom: 0.8rem;
}
.order__form-input__small {
    border-radius: 5px;
    width: 4rem;
}

.order__form-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 24rem;
    &__name {
        flex-grow: 1;
    }
    &__phone {
        flex-grow: 1;
    }
    &__street {
        flex-grow: 2;
    }
    &__adress {
        display: flex;
    }
}

.order__form-textarea {
    border-radius: 5px;
}

.adress__item {
    margin-right: 1.6rem;
}

.order__form-text2 {
    padding-left: 5px;
    padding-right: 8px;
}

.order__btn {
    border-radius: 6px;
    background-color: #e45028;
    border: none;
    padding: 7px 16px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
    &:hover {
        background-color: darken(#e45028, 10%);
    }
}

.order__btn-clear {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: .3s;
    &:hover {
        color: darken(#fff, 50%);
        text-decoration: underline;
    }
}

.order__right-item {
    margin-bottom: 1rem;
}

.map {
    background: url('../img/bg__map.png') no-repeat;
    background-size: cover;
}

.footer {
    height: 60px;
    width: 100%;
    background: url('../img/bg__footer.png') center center no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: #fff;
}

.footer__left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    &-top {
        padding-top: 5px;
    }
    &-bottom {
        display: flex;
        padding-top: 7px;
    }
    &-img {
        background: url('../img/icons/phone.svg') center center no-repeat;
        width: 16px;
        height: 16px;
    }
    &-number {
        color: red;
        text-decoration: none;
    }
}

.footer__right  {
    width: 50%;
}