@import url("adaptive/media.css");
@import "settings/mixins.scss";
h4 {
    margin: 0;
}

@function rem($px) {
    @return $px / 16px+0rem;
}

* {
    box-sizing: border-box;
}

$dark: #2f3234;
$yellow: #f8b43a;
$orange: #f9b43b;
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.main__block {
    min-height: 650px;
    background: url('../img/leaves_bg.jpg') center center no-repeat;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1100px;
    min-height: 650px;
    margin: 0 auto;
    display: flex;
    @include desktop {
        width: 970px;
    }
    @include laptop {
        width: 750px;
    }
    @include tablets {
        width: 480px;
    }
    @include phones {
        width: 95%;
    }
}

.main-sec__container {
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.header {
    &__main {
        min-height: 92px;
    }
    &__main-inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 946px;
        max-height: 71px;
        margin: 0 auto;
        margin-top: rem(12px);
    }
}

.section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.header__nav {
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    &-list {
        color: #fff;
    }
    &-item {
        display: inline-block;
        margin-left: 15px;
        &:last-child {
            background-color: #e45028;
            border-radius: 6px;
            &:hover {
                background-color: darken(#e45028, 7%);
                cursor: pointer;
                transition: .2s ease;
            }
        }
        &:after {
            content: "•";
            color: #fff;
            padding-left: 21px;
        }
        &:nth-of-type(6):after {
            display: none;
        }
        &:last-child:after {
            display: none;
        }
        &:last-child {
            padding: 3px 15px;
        }
    }
    &-item-link {
        text-decoration: none;
        color: #fff;
        &:hover {
            color: darken(#fff, 20%);
            transition: .2s ease;
            text-decoration: underline;
        }
    }
}

.main__burger {
    display: flex;
    justify-content: center;
    &-inner {
        display: flex;
        justify-content: center;
        padding-bottom: rem(36px);
    }
    &-block {
        /* max-height: rem(200px); */
    }
    &-block-pic {
        /*  max-width: rem(500px); */
    }
}

.title-dark {
    color: $dark;
}

.title-white {
    color: #fff;
}

.title-yellow {
    color: $yellow;
}

.section-title {
    font-family: 'Gagalin', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 72px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 0;
}

.main__burger-text {
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: rem(144px);
    &-2nd {
        color: #ffffff;
        font-family: 'Lifehack', sans-serif;
        font-size: 60px;
        font-weight: 700;
        text-transform: lowercase;
        display: flex;
        max-width: 383px;
    }
}

.main__block-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: rem(50px);
    margin-bottom: rem(20px);
}

.arrow__down {
    display: flex;
}

.nav {
    &__list {
        position: fixed;
        top: 86px;
        list-style: none;
        right: 44px;
    }
    &__item {
        margin-bottom: 9px;
        &-link {
            background: url('../img/ellipse-2.png') center center no-repeat;
            width: 14px;
            height: 14px;
            display: block;
        }
        &--active {
            border: 1px solid #fff;
            border-radius: 50%;
        }
    }
}

.section-title__menu {
    position: absolute;
    top: 5%;
    left: 5%;
}

.acco__list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}

.acco__item--active {
    .acco__item__content {
        width: rem(500px);
    }
    .acco__item__block-txt {
        color: $yellow;
    }
}

.acco__item {
    list-style: none;
    float: left;
    height: 100%;
    &__block {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: rem(70px);
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        float: left;
        &:hover {
            .acco__item__block-txt {
                color: $yellow;
            }
        }
        &-txt {
            font-size: 2.5rem;
            font-family: 'Gagalin', Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 300;
            text-transform: uppercase;
            text-align: center;
            white-space: nowrap;
            transform: rotate(-90deg);
            color: #fff;
            transition: .3s;
        }
    }
}

.acco__item__content {
    width: 0;
    height: 100%;
    color: #fff;
    background: rgba(47, 50, 52, .93);
    overflow: hidden;
    float: left;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.8;
    &-text {
        padding: 25px 25px;
        font-size: 0.9rem;
    }
}

.we_best__block {
    height: 650px;
    background: url('../img/bg_white.png') center center no-repeat;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.we_best__container {
    flex-direction: column;
    justify-content: center;
}

.we_best__block__heading {
    margin: 0 auto;
    text-align: center;
}

.features__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.features__item {
    display: flex;
    flex-direction: column;
    flex-basis: 28%;
    max-width: 300px;
    vertical-align: top;
    margin: 0 20px;
    overflow: hidden;
    &-heading {
        display: block;
        font-family: 'Lifehack', sans-serif;
        font-size: 24px;
        margin: 15px 0;
    }
    &-text {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #463030;
        font-family: 'Ubuntu';
        font-size: 0.875rem;
        line-height: 26.2px;
        @include phones {
            line-height: 1.2;
        }
        font-weight: 300;
        color: $dark;
        overflow: hidden;
    }
    &-pic {
        min-height: 130px;
        &_meat {
            background: url('../img/icons/best/best_meat.svg') center center no-repeat;
        }
        &_hand {
            background: url('../img/icons/best/best_hand.svg') center center no-repeat;
        }
        &_natural {
            background: url('../img/icons/best/best_natural.svg') center center no-repeat;
        }
    }
}

.reviews {
    height: 650px;
    display: flex;
    overflow: hidden;
    &__list {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    &__item {
        position: relative;
        list-style: none;
        height: 50%;
        flex-basis: 25%;
        @include laptop {
            flex-basis: 25%;
        }
        @include tablets {
            flex-basis: 50%;
        }
        @include phones {
            flex-basis: 50%;
        }
        &__inner {
            width: 100%;
            height: 100%;
            &-pic {
                display: flex;
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: grayscale(100%);
            }
        }
    }
}

.reviews__content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.603);
    color: #fff;
    opacity: 0;
    padding: 1.2rem;
    line-height: rem(27px);
    font-size: 1rem;
    transition: .47s ease;
    overflow: hidden;
    @include laptop {
        line-height: 1.3rem;
    }
    @include tablets {
        line-height: 1.1rem;
    }
    @include phones {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    &:hover {
        opacity: 1;
    }
    &-name {
        font-family: 'Gagalin', Verdana, Geneva, Tahoma, sans-serif;
    }
    &-text {
        font-family: 'Ubuntu', sans-serif;
        @include phones {
            display: none;
        }
    }
    &-btn {
        font-family: 'Ubuntu', sans-serif;
        font-size: 0.967rem;
        border: none;
        border-radius: 5px;
        padding: 8px 10px;
        text-transform: uppercase;
        color: #fff;
        background-color: #3a3939;
        cursor: pointer;
        font-weight: 500;
        transition: .3s;
        @include phones {
            margin-top: 0.65rem;
        }
        &:hover {
            background-color: #1f1e1e;
        }
    }
}

.team {
    background: url('../img/bg__team.jpg') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    position: relative;
    &__title {
        display: flex;
        margin-left: rem(15px);
        @include tablets {
            justify-content: center;
        }
    }
    &__block {
        height: 100%;
        background-color: #2e2c2c;
        opacity: 0.9;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &__inner {
            display: flex;
            flex-direction: column;
        }
        &-heading {
            color: $yellow;
            text-transform: uppercase;
            font-family: 'Gagalin', Verdana, Geneva, Tahoma, sans-serif;
            font-size: 4.4rem;
            font-weight: 300;
            padding-left: 6rem;
            margin: 0;
        }
        &__list {
            list-style: none;
            color: #fff;
        }
        &__item {
            text-transform: uppercase;
            font-family: 'Gagalin', Verdana, Geneva, Tahoma, sans-serif;
            font-size: 1rem;
            font-weight: 300;
            margin-bottom: 1rem;
            @include tablets {
                font-size: 1.5rem;
            }
        }
    }
}

.team-container {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    @include tablets {
        width: 100%;
    }
}

.block__item-drop {
    display: flex;
    height: 0;
    overflow: hidden;
    margin-left: 22px;
    margin-top: 13px;
    &-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        flex-basis: 100%;
        max-width: 100px;
    }
    &-text {
        font-family: 'Ubuntu', sans-serif;
        text-transform: none;
        font-size: 0.9rem;
        max-width: 15rem;
        margin-left: 1rem;
        &__heading {
            margin: 0;
        }
        &__contain {
            margin-top: 10px;
        }
    }
}

.team__block__item--active {
    .block__item-btn {
        color: $yellow;
        &::before {
            transform: rotate(180deg);
        }
    }
    .block__item-drop {
        height: auto;
    }
}

.block__item-btn {
    cursor: pointer;
    border: none;
    background: transparent;
    color: #fff;
    display: flex;
    align-items: center;
    transition: .3s;
    &:hover {
        color: $yellow;
    }
    &::before {
        content: "";
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 7px solid $yellow;
        margin-right: 0.8rem;
    }
}

.menu {
    background: url('../img/bg__menu.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
}

.menu__block-heading {
    color: #fff;
    font-size: 4.4rem;
    text-transform: uppercase;
    font-family: 'Gagalin', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    margin: 0;
    padding-top: 4rem;
}

.container-menu {
    width: 100%;
}

.burgers-info {
    background-color: $orange;
}

.order__btn {
    border-radius: 6px;
    background-color: #e45028;
    border: none;
    padding: 7px 16px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
    &:hover {
        background-color: darken(#e45028, 10%);
    }
}

.order__btn-clear {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: .3s;
    &:hover {
        color: darken(#fff, 50%);
        text-decoration: underline;
    }
}

.order__right-item {
    margin-bottom: 1rem;
}

.order {
    background: url('../img/bg__order.png') center center / cover no-repeat;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.order__head {
    display: flex;
    justify-content: center;
    text-align: center;
}

.form__container {
    flex-direction: column;
    justify-content: center;
}

.form {
    display: flex;
    flex-wrap: wrap;
    margin: 0 rem(10px);
}

.form__row {
    display: flex;
}

.form__block {
    flex: 1;
    margin-right: 20px;
    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    margin-bottom: rem(15px);
    margin-top: rem(5px);
}

.form__textarea {
    @extend .form__input;
    resize: none;
    height: 90px;
}

.form__title {
    margin-right: rem(8px);
}

.left-form {
    max-width: rem(500px);
    width: 50%;
    margin-right: rem(20px);
    flex: 1;
}

.right-form {
    max-width: rem(500px);
    width: 50%;
    display: flex;
    flex-direction: column;
    flex: 1;
    &__radio {
        display: flex;
        flex-direction: row;
        @include tablets {
        justify-content: center;
    }
    }
}

.radio__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: rem(15px);
    &-input {
        display: none;
    }
}

.radio__buttons--style {
    position: relative;
    width: 18px;
    height: 18px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 50%;
    margin: 0;
    float: left;
    margin-right: 5px;
    margin-top: -2px;
    vertical-align: middle;
    &::before {
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        right: 6px;
        bottom: 6px;
        background: #ec1e79;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        transform: scale(0);
        transition: .4s;
    }
}

.radio__buttons-input:checked+.radio__buttons--style::before {
    transform: scale(1);
}

.form__checkbox {
    display: flex;
    align-items: center;
    margin-bottom: rem(15px);
    @include tablets {
        justify-content: center;
    }
    &-basic {
        display: none;
    }
    &--style {
        position: relative;
        width: 18px;
        height: 18px;
        border: 1px solid #fff;
        background-color: #fff;
        border-radius: 2px;
        margin: 0;
        float: left;
        margin-right: 5px;
        margin-top: -2px;
        vertical-align: middle;
        &::before {
            content: "";
            position: absolute;
            background: url('../img/icons/checkmark.png') center center no-repeat;
            top: 0;
            left: 0;
            width: 16px;
            height: 16px;
            transform: scale(0);
            transition: .4s;
        }
    }
}

.form__checkbox-basic:checked+.form__checkbox--style::before {
    transform: scale(1);
}

.checked__title {}

.form__buttons {
    display: flex;
    @include tablets {
        justify-content: center;
    }
}

.form__button-order {
    color: #fff;
    text-decoration: unset;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: rem(8px) rem(15px);
    background-color: #e45028;
    max-width: rem(120px);
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
    &:hover {
        background-color: darken(#e45028, 20%);
    }
}

.form__button-reset {
    color: #fff;
    text-decoration: unset;
    border: none;
    background-color: transparent;
    padding: rem(8px) rem(15px);
    max-width: rem(120px);
    cursor: pointer;
    &:hover {
        color: darken(#fff, 30%);
    }
}

.map {
    background: url('../img/bg__map.png') no-repeat;
    background-size: cover;
}

.footer {
    height: 60px;
    width: 100%;
    background: url('../img/bg__footer.png') center center no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: #fff;
}

.footer__left {
    width: 50%;
    height: 56px;
    display: flex;
    flex-direction: column;
    &-top {
        padding-top: 5px;
    }
    &-bottom {
        display: flex;
        padding-top: 7px;
    }
    &-img {
        background: url('../img/icons/phone.svg') center center no-repeat;
        width: 16px;
        height: 16px;
    }
    &-number {
        color: red;
        text-decoration: none;
    }
}

.footer__right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer__container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 17px;
    fill: #595959;
    width: 25px;
    height: 25px;
    transition: .4s;
}

.icon:hover {
    fill: #fff;
}

.icon:first-child {
    margin-left: 0;
}