@charset "UTF-8";
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.wrapper {
  width: 100%;
  height: 100%; }

.main__block {
  min-height: 650px;
  background: url("../img/leaves_bg.jpg") center center no-repeat;
  background-size: cover;
  margin: 0 auto; }

.header {
  padding-top: 12px; }
  .header__main {
    min-height: 92px; }
  .header__main-inner {
    max-width: 946px;
    max-height: 71px;
    margin: 0 auto; }
  .header__logo {
    float: left; }

.container {
  max-width: 1100px;
  margin: 0 auto;
  /* min-height: 650px; */ }

.section {
  min-height: 100vh; }

.header__nav {
  float: right;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase; }
  .header__nav-list {
    color: #fff; }
  .header__nav-item {
    display: inline-block;
    margin-left: 15px; }
    .header__nav-item:last-child {
      background-color: #e45028;
      border-radius: 6px; }
      .header__nav-item:last-child:hover {
        background-color: #ce401a;
        cursor: pointer;
        -webkit-transition: .2s ease;
        -o-transition: .2s ease;
        transition: .2s ease; }
    .header__nav-item:after {
      content: "•";
      color: #fff;
      padding-left: 21px; }
    .header__nav-item:nth-of-type(6):after {
      display: none; }
    .header__nav-item:last-child:after {
      display: none; }
    .header__nav-item:last-child {
      padding: 3px 15px; }
  .header__nav-item-link {
    text-decoration: none;
    color: #fff; }
    .header__nav-item-link:hover {
      color: #cccccc;
      -webkit-transition: .2s ease;
      -o-transition: .2s ease;
      transition: .2s ease;
      text-decoration: underline; }

.main__burger {
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .main__burger-pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .main__burger-inner__center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: 875px;
    height: 369px; }

.main__burger-text {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 128px; }
  .main__burger-text-1st {
    margin: 0;
    color: #f8b43a;
    font-family: 'Gagalin', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 63px;
    font-weight: 400;
    line-height: 85px;
    font-weight: 500;
    text-transform: uppercase; }
  .main__burger-text-2nd {
    color: #ffffff;
    font-family: 'Lifehack', sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-transform: lowercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px; }

.arrow__down {
  margin-bottom: -127px;
  margin-left: -20px; }

.nav__list {
  position: fixed;
  top: 86px;
  list-style: none;
  right: 44px; }

.nav__item {
  margin-bottom: 9px; }
  .nav__item-link {
    background: url("../img/ellipse-2.png") center center no-repeat;
    width: 14px;
    height: 14px;
    display: block; }
  .nav__item--active {
    border: 1px solid #fff;
    border-radius: 50%; }

.we_best__block {
  height: 650px;
  background: url("../img/bg_white.png") center center no-repeat;
  background-size: cover;
  margin: 0 auto; }

.heading-text {
  display: inline-block;
  font-family: 'Gagalin', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 85px;
  font-weight: 500;
  text-transform: uppercase;
  color: #2f3234; }

.we_best__block__heading {
  margin: 0 auto;
  text-align: center; }

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-preferred-size: 28%;
  flex-basis: 28%;
  width: 300px;
  vertical-align: top;
  margin: 0 20px; }
  .features__item-heading {
    display: block;
    font-family: 'Lifehack', sans-serif;
    font-size: 24px;
    margin: 15px 0; }
  .features__item-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #463030;
    font-family: 'Ubuntu';
    font-size: 15px;
    line-height: 26.2px;
    font-weight: 300;
    color: #2f3234; }
  .features__item-pic {
    min-height: 130px; }
    .features__item-pic_meat {
      background: url("../img/icons/best/best_meat.svg") center center no-repeat; }
    .features__item-pic_hand {
      background: url("../img/icons/best/best_hand.svg") center center no-repeat; }
    .features__item-pic_natural {
      background: url("../img/icons/best/best_natural.svg") center center no-repeat; }

.reviews {
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .reviews__list {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%; }
  .reviews__item {
    position: relative;
    list-style: none;
    height: 50%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%; }
    .reviews__item__inner {
      width: 100%;
      height: 100%; }
      .reviews__item__inner-pic {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%); }

.reviews__content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.603);
  color: #fff;
  opacity: 0;
  padding: 1.2rem;
  line-height: 27px;
  font-size: 1rem;
  -webkit-transition: .47s ease;
  -o-transition: .47s ease;
  transition: .47s ease; }
  .reviews__content:hover {
    opacity: 1; }
  .reviews__content-name {
    font-family: 'Gagalin', Verdana, Geneva, Tahoma, sans-serif; }
  .reviews__content-text {
    font-family: 'Ubuntu', sans-serif; }
  .reviews__content-btn {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.967rem;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    text-transform: uppercase;
    color: #fff;
    background-color: #3a3939;
    cursor: pointer;
    font-weight: 500;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .reviews__content-btn:hover {
      background-color: #1f1e1e; }
